
{%load staticfiles %}
<html>

<head>

  <meta charset="UTF-8">

  <title>Log in </title>

  <style>

  @font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

.primary-heading{
	font-size: 16x;
	font-weight: bold;
	color:#00467f;
	font-family: Helvetica;
	margin: 25px 0 0 0;
}


body {
	background: #448ed3 ;
	font-family: "Lato" ;
}
.wrap {
	width:250px;
	height: auto;
	margin: auto;
	margin-top: 10%;
}
.avatar {
	width: 100%;
	margin: auto;
	width: 65px;
	border-radius: 100px;
	height: 65px;
	background: #448ed3 ;
	position: relative;
	bottom: -10px;
}
.avatar img {
	width: 55px;
	height: 55px;
	border-radius: 100px;
	margin: auto;
	border:3px solid #fff;
	display: block;
}
.wrap input {
	border: none;
	background: #fff;
    font-family:Lato ;
    font-weight:700 ;
	display: block;
	height: 40px;
	outline: none;
	width: calc(100% - 24px) ;
	margin: auto;
	padding: 6px 12px 6px 12px;
}
.bar {
	width: 100%;
	height: 1px;
	background: #fff ;
}
.bar i {
	width: 95%;
	margin: auto;
	height: 1px ;
	display: block;
	background: #d1d1d1;
}
.wrap input[type="text"] {
	border-radius: 5px 5px 0px 0px ;
}
.wrap input[type="password"] {
	border-radius: 0px 0px 5px 5px ;
}
.forgot_link {
	color: #f44e4e;
	text-decoration: none;
	font-size: 11px;
	position: relative;
	left: 150px;
	top: -25px;
}
.wrap button {
	width: 100%;
	border-radius: 7px;
	background: #b6ee65;
	text-decoration: center;
	border: none;
	color: #51771a;
  margin-top:5px;
	padding-top: 14px;
	padding-bottom: 14px;
	outline: none;
	font-size: 13px;
	border-bottom: 3px solid #307d63;
	cursor: pointer;
}

  </style>


</head>


<body>
<div class="wrap">

<form name= "myf" id = "myf" method="post" onsubmit="return loginValidation()">

  {% csrf_token %}

{% if error_message %}
    <p><strong>{{ error_message}}</strong></p>
{% endif%}

    <h1 align="center" style="font-size: 32px; font-weight: bold; color:#00467f; font-family: Helvetica ; margin: 25px 0 0 0;">Log in</h1>

    <div class="avatar">
      <img src="https://www.jet.org.za/news/wits-logo.png/@@images/52b67716-d10e-4b60-940d-a8c99047a6d0.png">
    </div>
    <hr>

    <input type="number" placeholder="Enter Student Number" name="uname" id = "uname" required>

    <input type="password" placeholder="Enter Password" name="psw" id = "psw" required>

    <span action="forgot" class="psw" ><a href="forgot" class = "forgot_link">Forgot password?</a></span>





    <button type="submit">Log in</button>

</form>

<form action="" name="f" id="f" onsubmit="return RegVal()">
  <div class="wrap">

  <button type="submit"> Register </button>

<label >
  <input  type="checkbox" checked="checked" name="remember"><a align ="center" style="font-size: 13px; font-weight: bold; color:#00467f; font-family: Helvetica ; margin: 10px 0 0 0;">Remember me
  </a>
</label>
</div>
</form>




<script>





    function loginValidation(){


            var x = document.getElementById("uname").value;

            var path = window.location.pathname;

            var accessed= false


            {% if lecturer %}
                {%for i in lecturer %}
                    var f = "{{i.Lect_No}}"
                    var std=document.getElementById("uname").value;
                    if(f==std){
                        var p = "{{i.Password}}"
                        var pas = document.getElementById("psw").value;
                        if(p==pas){
                            if((path.match(new RegExp("/", "g")) || []).length == 3){
                                document.getElementById("myf").action = "/login/staff"+x+"/";
                            }
                            else{
                                document.getElementById("myf").action = "staff"+x+"/";
                             }
                            accessed = true
                        }

                    }
                {%endfor%}

            {% endif%}


            if(accessed == false){
                if((path.match(new RegExp("/", "g")) || []).length == 3){
                    document.getElementById("myf").action = "/login/"+x+"/";
                }
                else{
                     document.getElementById("myf").action = x+"/";
                }
            }


    }
        {% if error_message %}
                alert("Wrong credentials")
        {% endif%}



    function RegVal(){

            if(window.location.pathname == "/login/reg"){

                document.getElementById("f").action = "./register";
                return true;


            }else if(window.location.pathname == "/login/"){

                document.getElementById("f").action = "register";
                return true;

            }else if(window.location.pathname == "/login/logged"){

                document.getElementById("f").action = "./register";
                return true;
            }
            else if(window.location.pathname == "/login/logged"){


            }
            else{


                return true;
            }
    }


</script>
</div>
</body>

<html>
